{% extends 'index.html' %}
{% block rajesh %}
   <body>
   <form action="{% url 'save_user' %}" method="post">
       {% csrf_token %}

      <table align="cener" border="2">
          <tr><th>
              <h2>Registration Page</h2>
          </th></tr>
          <tr><th>
              <input type="text" placeholder="Enter your Name" name="c1" required><br>
              <input type="text" placeholder="Enter your Password" name="c2" required><br>
              <button type="submit">Submit</button>
          </th></tr>
      </table>
        </form>
   </body>
{% endblock %}